.myPhoto{
    display: block;
    width: 70%;
    margin: auto;
}

.selfIntro{
    font-size: 16px;
    margin: 0;
    line-height: 25px;
}

.content-container{
    /* position: sticky; */

	max-width: 100%;
	margin-top: 0.5em;
    font-family: 'Montserrat',sans-serif;
    max-width: 100%;
	margin-top: 0.5em;
	width: 630px;

margin: auto;
	border-right: 0px dotted black;
}

.content-container-padding{
	padding-left: 10px;
	padding-right: 10px;
}

.photoContainer{
    display: flex;
    /* width: 80%; */
    flex-wrap: wrap;
}

.aboutmePhoto{
    width: 45%;
    padding: 10px;
}

