.header-top-logo{
    position: relative;
    width: 10vw;
    margin-left: 50px;
}

.header-top-logo-img{
    position: absolute;
    height: 64px;
    margin-top: 4px;
}

.header-top{
    height:70px;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    z-index: 100;
}

