.menu-content-container{
	display: grid;
	grid-template-columns: 35% 65%;

	padding-top: 4.5em;
}

body {
	margin: 0;
	font-family:'Montserrat',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f2f2f2;
	/* height: 2000px; */
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  